{% extends "base.html" %}
{% block content %}
<div style="color:white">
  <h2 style="text-align: center;">Your Enrolled Students</h2>
  <hr>
  {% for course in courses %}
  <ul>
    <li>{{ course.course_title }}</li>
    {% for student in course.students.all %}
    {% if student in course.students.all %}
    <ul style="list-style-type: square;"><li>{{ student.username }}</li></ul>
    {% endif %}
    {% empty %}
    <p>No students enrolled yet.</p>
    {% endfor %}
  </ul>
  {% endfor %}
  {% endblock %}